// Choose the theme that is specified in the themes section.
// Default: default
// See https://zellij.dev/documentation/themes
//
theme "dracula"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
mouse_mode false

// Toggle having pane frames around the panes
// Options:
//   - true (default, enabled)
//   - false
//
pane_frames false

// Enable automatic copying (and clearing) of selection when releasing mouse
// Default: true
//
copy_on_select false

// Whether to show tips on startup
// Default: true
//
show_startup_tips false

ui {
    pane_frames {
        // Set whether the pane frames (if visible) should have rounded corners.
        rounded_corners true
    }
}
