VerifyHostKeyDNS yes

ConnectTimeout 30
ServerAliveInterval 10

Host aur.archlinux.org
	User aur

Host github.com
	UpdateHostKeys yes

Host zer.vpn
	User horaynarea

Host oci1.gecko.space
	User ubuntu
Host oci2.gecko.space
	User ubuntu
